<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBCRIPTION FORM</h3>
      <p class="m-auto sub-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
        corrupti adipisci laboriosam culpa facilis rerum similique, minus,
        perspiciatis, recusandae soluta illo id distinctio. Accusamus, aut! Est
        distinctio maiores dolores? Repellat!
      </p>

      <form action="" class="form-inline mb-5 mt-5">
        <div class="row w-100">
          <div class="form-group col-md-5">
            <input
              type="text"
              name=""
              id=""
              class="form-control shadow-effect w-100"
              placeholder="Your Name"
            />
          </div>
          <div class="form-group col-md-5">
            <input
              type="email"
              name=""
              id=""
              class="form-control shadow-effect w-100"
              placeholder="Email Address"
            />
          </div>
          <div class="col-md-2">
            <button class="btn btn-info btn-block btn-sub w-100">
              SUBSCRIBE
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
